return {

	-- Your authorization token from the botfather.
	bot_api_key = '',
	-- Bot's username without @
	bot_user_name = '',
	-- Your Telegram ID.
	admin = 1337,
	-- Two-letter language code.
	lang = 'de',
	-- The channel, group, or user to send error reports to.
	-- If this is not set, errors will be printed to the console.
	log_chat = nil,
	-- The port used to communicate with tg for administration.lua.
	-- If you change this, make sure you also modify launch-tg.sh.
	cli_port = 4567,
	-- The block of text returned by /start.
	about_text = [[
Dies ist die BETA-Version von Brawlbot v2.

Sende /hilfe, um zu starten
	]],
	-- The symbol that starts a command. Usually noted as '/' in documentation.
	cmd_pat = '/',

	errors = { -- Generic error messages used in various plugins.
	    generic = 'An unexpected error occurred.',
		connection = 'Verbindungsfehler.',
		quotaexceeded = 'API-Quota aufgebraucht.',
		results = 'Keine Ergebnisse gefunden.',
		sudo = 'Du bist kein Superuser. Dieser Vorfall wird gemeldet!',
		argument = 'Invalides Argument.',
		syntax = 'Invalide Syntax.',
		chatter_connection = 'Ich möchte gerade nicht reden',
		chatter_response = 'Ich weiß nicht, was ich darauf antworten soll.'
	}

	plugins = { -- To enable a plugin, add its name to the list.
		'control',
		'blacklist',
		'about',
		'ping',
		'whoami',
		'nick',
		'echo',
		'imgblacklist',
		'gImages',
		'gSearch',
		'gMaps',
		'wikipedia',
		'hackernews',
		'imdb',
		'calc',
		'urbandictionary',
		'time',
		'dice',
		'reddit',
		'xkcd',
		'slap',
		'commit',
		'pun',
		'currency',
		'shout',
		'set',
		'get',
		'patterns',
		'9gag',
		'shell',
		'adfly',
		'twitter',
		-- Put new plugins above this line.
		'help',
		'greetings'
	}

}
