return {

	-- Your authorization token from the botfather.
	bot_api_key = '',
	-- Your Telegram ID.
	admin = 1337,
	-- The channel, group, or user to send error reports to.
	-- If this is not set, errors will be printed to the console.
	log_chat = nil,
	-- The block of text returned by /start.
	about_text = [[
Dies ist die BETA-Version von Brawlbot v2.

Sende /hilfe, um zu starten
	]],

	-- DO NOT CHANGE THIS
	cmd_pat = '/',
	
	-- Text for users, who are not approved
	banhammer_text = [[
	Dies ist ein privater Bot, der erst nach einer Freischaltung benutzt werden kann.
	This is a private bot, which can only be used after an approval.
	]],

	-- false = only whitelisted users can use inline querys
	-- NOTE that it doesn't matter, if the chat is whitelisted! The USER must be whitelisted!
	enable_inline_for_everyone = true,

	-- Path, where getFile.lua should store the files WITHOUT an ending slash!
	-- Create the following folders in this folder: photo, document, video, voice
	getfile_path = '/tmp/telegram_files',
	
	-- Redis settings. Only edit if you know what you're doing.
	redis = {
		host = '127.0.0.1',
		port = 6379,
		use_socket = false, -- Set to true, if you need to connect over a socket
		socket_path = 'unix:///home/path/to/your/redis/sock',
		password = nil, -- Set, if you need a password to connect to redis
		database = nil -- Set, if you want to select another database. Default is 0 (use no ""!)
	},

	errors = { -- Generic error messages used in various plugins.
	    generic = 'An unexpected error occurred.',
		connection = 'Verbindungsfehler.',
		quotaexceeded = 'API-Quota aufgebraucht.',
		results = 'Keine Ergebnisse gefunden.',
		sudo = 'Du bist kein Superuser. Dieser Vorfall wird gemeldet!',
		argument = 'Invalides Argument.',
		syntax = 'Invalide Syntax.',
		chatter_connection = 'Ich möchte gerade nicht reden',
		chatter_response = 'Ich weiß nicht, was ich darauf antworten soll.'
	},
	
    remind = {
        persist = true,
        max_length = 1000,
        max_duration = 526000,
        max_reminders_group = 10,
        max_reminders_private = 50
    },

    chatter = {
        cleverbot_api = 'https://brawlbot.tk/apis/chatter-bot-api/cleverbot.php?text=',
        connection = 'Ich möchte jetzt nicht reden.',
        response = 'Ich weiß nicht, wie ich darauf reagieren soll.'
    }

}
